[project]
name = "topovision"
version = "0.1.0"
description = "Topovision is a tool for extracting data from topographic maps."
readme = "README.md"
requires-python = ">=3.14"
dependencies = []

[dependency-groups]
dev = [
    "ruff>=0.14.6",
]
